<h2>List of properties</h2>

{{#each things}}
    <p>
        <h3><a href="http://localhost:3000/td/{{[@type]}}">{{name}}</a></h3>
        <ul class="list-group">
            {{#each properties}}
                <li class="list-group-item d-flex justify-content-between align-items-center">{{this.title}}
                <span class="badge badge-secondary badge-pill">{{../things.forms.mockup}}</span></li>
            {{/each}}
        </ul>
    </p>
{{/each}}
